html, body, #map {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', Arial;
}

p, .leaflet-popup-content {
    font-size: 16px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.teal {
    color: #009688
}

.darkblue {
    color: darkblue;
}

.orange {
    color: orange;
}

#map {
    flex: 1;
}

#sidebar {
    width: 300px;
    padding: 12px 20px;
}

#sidebar > *, #area-too-big-warning {
    display: none;
}

.mdl-radio {
    display: block;
}